.main-header {
  width: 100%;
  background-color: #800000;
  color: white;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}

.header-container {
  width: 90%;
  max-width: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header h1 {
  margin: 0;
  font-size: 24px;
}
.logo {
  height: 55px;
}
@media (max-width: 600px) {
  .header-container {
    flex-direction: row;
    text-align: center;
  }
}

.navigation-buttons {
    display: flex;
    align-items: center;
}

.back-button, .home-button {
    display: flex;
    align-items: center;
    background-color: #A63A3A;
    padding: 6px;
    border-radius: 8px;
    margin-right: 15px;
    transition: background-color 0.3s ease;
}

.back-button:hover, .home-button:hover {
    background-color: #a52a2a;
}

.back-icon, .home-icon {
    width: 24px;
    height: 24px;
}

